<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:hx-get="http://www.w3.org/1999/xhtml"
      xmlns:hx-on="http://www.w3.org/1999/xhtml">

<!-- UPDATING PINNED AIRPORT SECTION -->
<form th:fragment="pinned-airport-section"
      th:id="'pinned-airport-form-' + ${iterIndex}"
      name="airportCodes"
      th:object="${airportCodes}">
    <div th:each="code,iter : *{codes}"
         class="d-flex input-group justify-content-center mb-2"
    >
        <button class="col col-lg-8 btn btn-outline-primary text-truncate input-group-text"
                type="button"
                th:attr="onclick='addAirportToMapFromCode(\'' + ${code} + '\');'"
        >
            <strong th:text="${code}"></strong>
            <i th:text="${airportList[__${iter.index}__].name}"></i>
            <span th:text="${airportList[__${iter.index}__].city} + ', ' + ${airportList[__${iter.index}__].subdivision} + ' of ' + ${airportList[__${iter.index}__].countryCode}"></span>
        </button>
        <input type="hidden" th:field="*{codes[__${iter.index}__]}" th:value="${code}" />
        <button class="col-3 col-lg-1 btn btn-secondary"
                hx-get="/unpin-airport"
                th:hx-target="'#pinned-airport-form-' + ${iterIndex}"
                th:hx-vals="'{&quot;iterIndex&quot;:'+${iterIndex}+'}'"
                th:hx-include="'#pinned-airport-form-' + ${iterIndex}"
                hx-swap="outerHTML transition:true"
                hx-on::after-request="console.log('enable/add unpinned airport from datalist')"
                name="airportCode"
                th:value="${code}">
            Unpin
        </button>
    </div>
</form>

<!-- INITIAL AIRPORT FORM TO ADD PINNED AIRPORT -->
<div th:fragment="airport-form">
    <form th:id="'pinned-airport-form-' + ${iter.index}"
          name="airportCodes"
          th:object="${airportCodes}"></form>
    <datalist id="filtered-list-" th:attrappend="id=${iter.index}"></datalist>
    <div th:unless="${resultDetails.location}" id="pinned-airports-" th:attrappend="id=${iter.index}"></div>
    <div th:if="${resultDetails.location}" th:id="'saved-pinned-airports-'+${resultDetails.location.id}">
        <div th:each="airport : ${resultDetails.airportList}"
             th:id="'pinned-'+${airport.iata}+'-location-'+${resultDetails.location.id}"
             class="d-flex input-group justify-content-center mb-2"
        >
            <button class="col col-lg-8 btn btn-outline-primary text-truncate input-group-text"
                    type="button"
                    th:attr="onclick='addAirportToMapFromCode(\'' + ${airport.iata} + '\');'"
            >
                <strong th:text="${airport.iata}"></strong>
                <i th:text="' ' + ${airport.name} + ' '"></i>
                <span th:text="' | ' + ${airport.city} + ', ' + ${airport.subdivision} + ' of ' + ${airport.countryCode}"></span>
            </button>
            <button class="col-3 col-lg-1 btn-sm btn btn-secondary"
                    hx-get="/unpin-airport-location"
                    th:hx-vals="'{&quot;locationId&quot;:'+${resultDetails.location.id}+'}'"
                    th:hx-target="'#pinned-'+${airport.iata}+'-location-'+${resultDetails.location.id}"
                    hx-swap="outerHTML transition:true"
                    hx-on::after-request="console.log('enable/add unpinned airport from datalist')"
                    name="airportCode"
                    th:value="${airport.iata}">Unpin
            </button>
        </div>
    </div>
    <div class="input-group mb-4">
        <select class="form-select"
                name="airportFilter"
                style="max-width:150px"
                hx-get="/nearby-airports"
                th:hx-vals="'{&quot;latitude&quot;:'+${resultDetails.resultSearch.latitude}+',&quot;longitude&quot;:'+${resultDetails.resultSearch.longitude}+'}'"
                th:hx-on::after-request="'setAirportPlaceHolderFromList(\'airport-code-' + ${iter.index} + '\',\'filtered-list-' + ${iter.index} + '\')'"
                th:hx-on::before-request="'clearAirportMarkerFitToElemId(airportMarker,\'location-display-'+${iter.index}+'\')'"
                th:hx-target="'#filtered-list-'+${iter.index}"
                hx-trigger="load,change"
                hx-swap="innerHTML">
            <option selected value="DELTA">Delta Airports</option>
            <hr class="dropdown-divider">
            <option value="ALL">All Civil</option>
            <option value="MILITARY">Military</option>
        </select>
        <input th:id="'airport-code-'+${iter.index}"
               class="form-control"
               type="text" aria-label="Airport"
               th:oninput="'debouncedAirportInput(this,'+${iter.index}+')'"
               name="airportCode"
               th:list="'filtered-list-'+${iter.index}" required>
        <button th:unless="${resultDetails.location}"
                class="col-2 btn btn-outline-secondary"
                hx-get="/pin-airport"
                th:hx-include="'#airport-code-' + ${iter.index} + ',#pinned-airport-form-' + ${iter.index}"
                th:hx-vals="'{&quot;iterIndex&quot;:'+${iter.index}+'}'"
                th:hx-target="'#pinned-airport-form-' + ${iter.index}"
                hx-swap="outerHTML transition:true"
                hx-on::after-request="console.log('disable/remove pinned airport from datalist')"
                th:attrappend="id=${iter.index}">Pin</button>
        <button th:if="${resultDetails.location}"
                class="col-2 btn btn-sm btn-outline-secondary"
                hx-get="/pin-airport-location"
                th:hx-include="'#airport-code-' + ${iter.index}"
                th:hx-vals="'{&quot;locationId&quot;:'+${resultDetails.location.id}+'}'"
                th:hx-target="'#saved-pinned-airports-'+${resultDetails.location.id}"
                hx-swap="beforeend transition:true"
                hx-on::after-request="console.log('disable/remove pinned airport from datalist')"
                th:attrappend="id=${resultDetails.location.id}">Pin</button>
    </div>
</div>

</html>