<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="footer" style="margin-top:auto;">
  <footer class="bd-footer py-4 py-md-5 mt-5 bg-body-tertiary">
    <div class="container py-4 py-md-5 px-4 px-md-3 text-body-secondary">
      <div class="row">
        <div class="col-lg-3 mb-3">
          <a class="d-inline-flex align-items-center mb-2 text-body-emphasis text-decoration-none" href="/" aria-label="Voyager">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="32" class="d-block me-2" viewBox="-4.171 -1.82 19.71 14.79">
              <title>Voyager</title>
                <path d="M 14.514 10.962 L -3.154 10.962 L -3.135 11.588 C -1.657 12.536 14.325 12.327 14.495 11.588 M -0.746 7.108 C 1.425 7.5 4.432 6.309 4.896 -1.82 C 9.826 1.373 9.981 3.915 13.794 11.51 C 3.386 9.559 3.898 9.806 -0.746 7.108 M -4.171 11.596 L 15.517 11.615 L 15.536 12.281 C 13.842 13.233 -2.609 13.138 -4.171 12.338" fill="#000000"/> </svg>
            </svg>
            <span class="fs-5">Voyager</span>
          </a>
          <ul class="list-unstyled small">
            <li class="mb-2">Designed and built entirely with open source APIs and frameworks.</li>
            <li class="mb-2">Code licensed <a href="https://github.com/twbs/bootstrap/blob/main/LICENSE" target="_blank" rel="license noopener noreferrer">MIT</a>, docs <a href="https://creativecommons.org/licenses/by/3.0/" target="_blank" rel="license noopener noreferrer">CC BY 3.0</a>.</li>
            <li class="mb-2">Currently v0.0.1.</li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</div>
</html>