<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<form th:fragment="add-location-form"
      hx-include="#airport-code-"
      id="input-group-"
      th:attrappend="hx-include=${iter}?${iter.index}:${locationForm.index},id=${iter}?${iter.index}:${locationForm.index}"
      hx-post="/locations"
      th:object="${locationForm}">
    <input type="hidden" id="index" name="index" th:value="${iter}?${iter.index}:${locationForm.index}" />
    <input type="hidden" id="name" name="name" th:value="${iter}?${resultSearch.name}:${locationForm.name}" />
    <input type="hidden" id="subdivision" name="subdivision" th:value="${iter}?${resultSearch.subdivision}:${locationForm.subdivision}" />
    <input type="hidden" id="countryCode" name="countryCode" th:value="${iter}?${resultSearch.countryCode}:${locationForm.countryCode}" />
    <input type="hidden" id="latitude" name="latitude" th:value="${iter}?${resultSearch.latitude}:${locationForm.latitude}" />
    <input type="hidden" id="longitude" name="longitude" th:value="${iter}?${resultSearch.longitude}:${locationForm.longitude}" />
    <input type="hidden" id="west" name="west" th:value="${iter}?${resultSearch.bounds[0]}:${locationForm.west}" />
    <input type="hidden" id="south" name="south" th:value="${iter}?${resultSearch.bounds[1]}:${locationForm.south}" />
    <input type="hidden" id="east" name="east" th:value="${iter}?${resultSearch.bounds[2]}:${locationForm.east}" />
    <input type="hidden" id="north" name="north" th:value="${iter}?${resultSearch.bounds[3]}:${locationForm.north}" />
    <div class="input-group">
        <select class="input-group-text"
                name="airportFilter"
                th:hx-get="@{/nearby-airports?iterIndex={index}&latitude={latitude}&longitude={longitude}(index=${iter}?${iter.index}:${locationForm.index},latitude=${iter}?${resultSearch.latitude}:${locationForm.latitude},longitude=${iter}?${resultSearch.longitude}:${locationForm.longitude})}"
                th:hx-target="@{#filtered-list-{index}(index=${iter}?${iter.index}:${locationForm.index})}"
                th:hx-on::after-request="${iter}?'setAirportPlaceHolder('+${iter.index}+')':'setAirportPlaceHolder('+${locationForm.index}+')'"
                hx-trigger="change,load"
                hx-swap="outerHTML">
            <option selected value="DELTA">Delta Airports</option>
            <hr class="dropdown-divider">
            <option value="CIVIL">Civil</option>
            <option value="MILITARY">Military</option>
            <option value="ALL">All</option>
        </select>
        <datalist id="filtered-list-"
                  th:attrappend="id=${iter}?${iter.index}:${locationForm.index}"></datalist>
        <input id="airport-code-"
               list="filtered-list-"
               th:oninput="${iter != null}?'checkAirportInput('+${iter.index}+')':'checkAirportInput('+${locationForm.index}+')'"
               th:attrappend="id=${iter}?${iter.index}:${locationForm.index},list=${iter}?${iter.index}:${locationForm.index}"
               th:classappend="${#fields.hasErrors('airportCode')}?is-invalid"
               class="form-control"
               type="text" aria-label="Airport"
               th:field="*{airportCode}" required/>
        <button class="btn btn-primary"
                type="submit">Add</button>
        <div id="airport-invalid-feedback-"
             th:attrappend="id=${iter}?${iter.index}:${locationForm.index}"
             class="invalid-feedback" th:if="${#fields.hasErrors('airportCode')}" th:errors="*{airportCode}">Airport Error</div>
    </div>
</form>
<div th:fragment="add-form-success">
    <p th:text="'Successfully passed airport code: '+${locationForm.airportCode}"></p>
    <p th:text="'Successfully passed index: '+${locationForm.index}"></p>
    <p th:text="'Successfully passed latitude, longitude: ('+${locationForm.latitude} + ','+${locationForm.longitude}+')'"></p>
    <p th:text="'Successfully passed name, subdivision: '+${locationForm.name} + ','+${locationForm.subdivision}"></p>
    <p th:text="'Successfully passed bounds: ['+${locationForm.west}+','+${locationForm.south}+','+${locationForm.east}+','+${locationForm.north}+']'"></p>
</div>