<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:hx-get="http://www.w3.org/1999/xhtml"
      xmlns:hx-on="http://www.w3.org/1999/xhtml">
<!--TODO: add pinned airport as parameter -->

<!--LIST OF SAVED LOCATIONS loaded on SAVED TAB-->
<div th:fragment="saved-locations"
     id="savedLocations"
     class="accordion list-group">
    <form class="form-check form-switch mb-4 mt-2"
         th:object="${locationFilter}">
        <input hx-get="/saved-locations"
               hx-target="#saved-locations-container"
               hx-swap="outerHTML transition:true"
               hx-trigger="change"
               hx-include="[name='includeArchived']"
               hx-on::after-request="switchEngage(this)"
               class="form-check-input"
               type="checkbox"
               role="switch"
               id="includeArchived"
               name="includeArchived"
               th:field="*{includeArchived}"
               th:checked="${locationFilter.includeArchived}"
        >
        <label class="form-check-label" for="includeArchived">Include Archived</label>
    </form>
    <div id="saved-locations-container">
        <div th:unless="${locationDetailsList.size > 0}"
             class="list-group-item list-group-item-secondary">No saved locations. 'Browse' to add locations.</div>
        <div th:each="locationDetail,iter : ${locationDetailsList}"
             class="accordion item">
            <button th:if="${iter.first}"
                    id="location-display-0"
                    class="accordion-button list-group-item list-group-item-action list-group-item-light"
                    type="button"
                    aria-controls="collapse-location-0"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapse-location-0"
                    th:data-name="${locationDetail.location.name}"
                    th:data-location-id="${locationDetail.location.id}"
                    aria-expanded="true"
                    th:text="${locationDetail.location.name} + ', ' + ${locationDetail.location.subdivision} + ' | ' + ${locationDetail.location.countryCode}"
                    th:onclick="zoomToLocationMap([[${locationDetail.location.name}]],[[${locationDetail.location.id}]],this)"></button>
            <button th:unless="${iter.first}"
                    id="location-display-"
                    class="accordion-button list-group-item list-group-item-action list-group-item-light collapsed"
                    type="button"
                    aria-controls="collapse-location-"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapse-location-"
                    aria-expanded="false"
                    th:text="${locationDetail.location.name} + ', ' + ${locationDetail.location.subdivision} + ' | ' + ${locationDetail.location.countryCode}"
                    th:onclick="zoomToLocationMap([[${locationDetail.location.name}]],[[${locationDetail.location.id}]],this)"
                    th:attrappend="data-bs-target=${iter.index},aria-controls=${iter.index},id=${iter.index}"></button>
            <div
                    id="collapse-location-"
                    class="accordion-collapse collapse"
                    data-bs-parent="#savedLocations"
                    th:attrappend="id=${iter.index}"
                    th:classappend="${iter.first}? show">
                <div class="accordion-body">
                    <p th:text="${locationDetail.location.name} +' is a locality of '
                + ${locationDetail.location.subdivision} + ' in '
                + ${locationDetail.location.countryCode} + '.'">
                    </p>
                    <div id="airports-container-"
                         class="container mb-2"
                         th:attrappend="id=${iter.index}">
                        <div th:replace="~{fragments/pinned :: pin-airport-form-initial(locationDetail=${locationDetail})}"></div>
                        <form th:replace="~{fragments/form :: archive-location-display}"></form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:fragment="location-details" id="saved-locations-container">
    <div th:unless="${locationDetailsList.size > 0}"
         class="list-group-item list-group-item-secondary">No saved locations. 'Browse' to add locations.</div>
    <div th:each="locationDetail,iter : ${locationDetailsList}"
         class="accordion item">
        <button th:if="${iter.first}"
                id="location-display-0"
                class="accordion-button list-group-item list-group-item-action list-group-item-light"
                type="button"
                aria-controls="collapse-location-0"
                data-bs-toggle="collapse"
                data-bs-target="#collapse-location-0"
                th:data-name="${locationDetail.location.name}"
                th:data-location-id="${locationDetail.location.id}"
                aria-expanded="true"
                th:text="${locationDetail.location.name} + ', ' + ${locationDetail.location.subdivision} + ' | ' + ${locationDetail.location.countryCode}"
                th:onclick="zoomToLocationMap([[${locationDetail.location.name}]],[[${locationDetail.location.id}]],this)"></button>
        <button th:unless="${iter.first}"
                id="location-display-"
                class="accordion-button list-group-item list-group-item-action list-group-item-light collapsed"
                type="button"
                aria-controls="collapse-location-"
                data-bs-toggle="collapse"
                data-bs-target="#collapse-location-"
                aria-expanded="false"
                th:text="${locationDetail.location.name} + ', ' + ${locationDetail.location.subdivision} + ' | ' + ${locationDetail.location.countryCode}"
                th:onclick="zoomToLocationMap([[${locationDetail.location.name}]],[[${locationDetail.location.id}]],this)"
                th:attrappend="data-bs-target=${iter.index},aria-controls=${iter.index},id=${iter.index}"></button>
        <div
                id="collapse-location-"
                class="accordion-collapse collapse"
                data-bs-parent="#savedLocations"
                th:attrappend="id=${iter.index}"
                th:classappend="${iter.first}? show">
            <div class="accordion-body">
                <p th:text="${locationDetail.location.name} +' is a locality of '
                + ${locationDetail.location.subdivision} + ' in '
                + ${locationDetail.location.countryCode} + '.'">
                </p>
                <div id="airports-container-"
                     class="container mb-2"
                     th:attrappend="id=${iter.index}">
                    <div th:replace="~{fragments/pinned :: pin-airport-form-initial(locationDetail=${locationDetail})}"></div>
                    <form th:replace="~{fragments/form :: archive-location-display}"></form>
                </div>
            </div>
        </div>
    </div>
</div>

<!--LIST OF SAVED LOCATIONS loaded on call to LOOKUP ENDPOINT-->
<option th:fragment="saved-locations-options"
        th:each="locationDisplay,iter : ${locations}"
        th:text="${locationDisplay.name} + ', ' + ${locationDisplay.subdivision} + ' | ' + ${locationDisplay.countryCode}"
        th:value="${locationDisplay.id}"
        th:disabled="${selectedId != null && selectedId == locationDisplay.id}? true : false"
        th:id="${isStart}?'start-location-'+${locationDisplay.id}:'end-location-'+${locationDisplay.id}"
        th:data-longitude="${locationDisplay.longitude}"
        th:data-latitude="${locationDisplay.latitude}"
        th:data-city="${locationDisplay.name}"
        th:data-subdivision="${locationDisplay.subdivision}"
        th:data-country="${locationDisplay.countryCode}"
        th:data-bounds-west="${locationDisplay.bbox[0]}"
        th:data-bounds-south="${locationDisplay.bbox[1]}"
        th:data-bounds-east="${locationDisplay.bbox[2]}"
        th:data-bounds-north="${locationDisplay.bbox[3]}"
></option>
</html>