<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:hx-get="http://www.w3.org/1999/xhtml"
      xmlns:hx-on="http://www.w3.org/1999/xhtml">
<div th:fragment="airport-form">
    <div class="input-group mb-4">
        <datalist id="filtered-list-" th:attrappend="id=${iter.index}"></datalist>
        <select class="input-group-text"
                name="airportFilter"
                th:hx-get="@{/nearby-airports?iterIndex={index}&latitude={latitude}&longitude={longitude}(index=${iter.index},latitude=${locationDisplay.latitude},longitude=${locationDisplay.longitude})}"
                th:hx-target="@{#filtered-list-{index}(index=${iter.index})}"
                hx-trigger="change,load"
                th:hx-on::after-request="'setAirportPlaceHolder('+${iter.index}+')'"
                hx-swap="outerHTML">
            <option selected value="DELTA">Delta Airports</option>
            <hr class="dropdown-divider">
            <option value="CIVIL">Civil</option>
            <option value="MILITARY">Military</option>
            <option value="ALL">All</option>
        </select>
        <input th:id="'airport-code-'+${iter.index}"
               class="form-control"
               type="text" aria-label="Airport"
               th:oninput="'checkAirportInput('+${iter.index}+')'"
               name="airport-code"
               th:list="'filtered-list-'+${iter.index}" required>
    </div>
    <div class="d-grid col-4 mx-auto"><button class="btn btn-outline-primary" type="submit">+</button></div>
</div>
<div th:fragment="locationList"
     th:if="${locations} != null"
     id="savedLocations"
     class="accordion list-group">
    <div th:if="${locations.size > 0}" class="accordion item" th:each="locationDisplay,iter : ${locations}">
        <button th:if="${iter.first}"
                id="location-display-0"
                class="accordion-button list-group-item list-group-item-action list-group-item-light"
                type="button"
                aria-controls="collapse-location-0"
                data-bs-toggle="collapse"
                data-bs-target="#collapse-location-0"
                th:data-lat="${locationDisplay.latitude}"
                th:data-lng="${locationDisplay.longitude}"
                th:data-bounds-west="${locationDisplay.bbox[0]}"
                th:data-bounds-south="${locationDisplay.bbox[1]}"
                th:data-bounds-east="${locationDisplay.bbox[2]}"
                th:data-bounds-north="${locationDisplay.bbox[3]}"
                aria-expanded="true"
                th:text="${locationDisplay.name} + ', ' + ${locationDisplay.subdivision} + ' | ' + ${locationDisplay.countryCode}"
                th:onclick="zoomToLocationMap(0,[[${locationDisplay.longitude}]],[[${locationDisplay.latitude}]],[[${locationDisplay.bbox}]])"></button>
        <button th:unless="${iter.first}"
                id="location-display-"
                class="accordion-button list-group-item list-group-item-action list-group-item-light collapsed"
                type="button"
                aria-controls="collapse-location-"
                data-bs-toggle="collapse"
                data-bs-target="#collapse-location-"
                aria-expanded="false"
                th:text="${locationDisplay.name} + ', ' + ${locationDisplay.subdivision} + ' | ' + ${locationDisplay.countryCode}"
                th:onclick="zoomToLocationMap([[${iter.index}]],[[${locationDisplay.longitude}]],[[${locationDisplay.latitude}]],[[${locationDisplay.bbox}]])"
                th:attrappend="data-bs-target=${iter.index},aria-controls=${iter.index},id=${iter.index}"></button>
        <div
                id="collapse-location-"
                class="accordion-collapse collapse"
                data-bs-parent="#savedLocations"
                th:attrappend="id=${iter.index}"
                th:classappend="${iter.first}? show">
            <div class="accordion-body">
                <p th:text="${locationDisplay.name} +' is a locality of '
                + ${locationDisplay.subdivision} + ' in '
                + ${locationDisplay.countryCode} + '.'">
                </p>
                <div id="airports-container-"
                     class="container mb-2"
                     th:attrappend="id=${iter.index}">
                    <div th:replace="~{fragments/locations :: airport-form}"></div>
                </div>
                <button class="btn btn-outline-success">Save</button>
            </div>
        </div>
    </div>
    <div th:unless="${locations.size > 0}"
         class="list-group-item list-group-item-secondary">No saved trips. Click 'Add Location' to plan new trip.</div>
</div>
<datalist th:fragment="all-airports"
          id="all-airports">
    <option th:each="airportDisplay,iter : ${airportList}"
            th:name="${airportDisplay.iata}"
            th:value="${airportDisplay.iata}"
            th:data-longitude="${airportDisplay.longitude}"
            th:data-latitude="${airportDisplay.latitude}"
            th:data-city="${airportDisplay.city}"
            th:data-subdivision="${airportDisplay.subdivision}"
            th:data-country="${airportDisplay.countryCode}"
            th:data-type="${airportDisplay.type.name}"
            th:text="${airportDisplay.name}"></option>
</datalist>
<select th:fragment="locations-select"
        class="form-select"
        onchange="addStartLocationToMap(this.options[this.selectedIndex])"
>
    <option selected disabled>Select Start Location</option>
    <option th:each="locationDisplay,iter : ${locations}"
            th:text="${locationDisplay.name} + ', ' + ${locationDisplay.subdivision} + ' | ' + ${locationDisplay.countryCode}"
            th:value="${locationDisplay.id}"
            th:id="'start-location-'+${locationDisplay.id}"
            th:data-longitude="${locationDisplay.longitude}"
            th:data-latitude="${locationDisplay.latitude}"
            th:data-city="${locationDisplay.name}"
            th:data-subdivision="${locationDisplay.subdivision}"
            th:data-country="${locationDisplay.countryCode}"
            th:data-bounds-west="${locationDisplay.bbox[0]}"
            th:data-bounds-south="${locationDisplay.bbox[1]}"
            th:data-bounds-east="${locationDisplay.bbox[2]}"
            th:data-bounds-north="${locationDisplay.bbox[3]}"
    ></option>
</select>
</html>