<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:hx-get="http://www.w3.org/1999/xhtml"
      xmlns:hx-on="http://www.w3.org/1999/xhtml">

<!--SAVED LOCATION PIN AIRPORT FORM INITIAL -->
<div th:fragment="pin-airport-form-initial(locationDetail)">
    <datalist id="filtered-list-" th:attrappend="id=${locationDetail.location.id}"></datalist>
    <div th:id="'saved-pinned-airports-'+${locationDetail.location.id}">
        <div th:each="airport : ${locationDetail.airportList}"
             th:id="'pinned-'+${airport.iata}+'-location-'+${locationDetail.location.id}"
             class="d-flex input-group justify-content-center mb-2"
        >
            <button class="add-airport-button col col-lg-8 btn btn-outline-primary text-truncate input-group-text"
                    th:attr="onclick='addAirportToMapFromCode(\'' + ${airport.iata} + '\');'"
                >
                <strong th:text="${airport.iata}"></strong>
                <i th:text="' ' + ${airport.name} + ' '"></i>
                <span th:text="' | ' + ${airport.city} + ', ' + ${airport.subdivision} + ' of ' + ${airport.countryCode}"></span>
            </button>
            <button class="col-3 col-lg-1 btn-sm btn btn-secondary"
                    hx-get="/unpin-airport-location"
                    th:hx-vals="'{&quot;locationId&quot;:'+${locationDetail.location.id}+'}'"
                    th:hx-target="'#pinned-'+${airport.iata}+'-location-'+${locationDetail.location.id}"
                    hx-swap="outerHTML transition:true"
                    hx-on::after-request="console.log('enable/add unpinned airport from datalist')"
                    name="airportCode"
                    th:value="${airport.iata}">Unpin
            </button>
        </div>
    </div>
    <div class="input-group mb-4">
        <select th:replace="~{fragments/pinned :: select-airport-filter}"></select>
        <input th:id="'airport-code-'+${locationDetail.location.id}"
               class="form-control"
               type="text" aria-label="Airport"
               th:oninput="'debouncedAirportInput(this,'+${locationDetail.location.id}+')'"
               name="airportCode"
               th:list="'filtered-list-'+${locationDetail.location.id}" required>
        <button class="col-2 btn btn-sm btn-outline-secondary"
                hx-get="/pin-airport-location"
                th:hx-include="'#airport-code-'+${locationDetail.location.id}"
                th:hx-vals="'{&quot;locationId&quot;:'+${locationDetail.location.id}+'}'"
                th:hx-target="'#saved-pinned-airports-'+${locationDetail.location.id}"
                hx-swap="beforeend transition:true"
                hx-on::after-request="console.log('disable/remove pinned airport from datalist')"
                th:attrappend="id=${locationDetail.location.id}">Pin</button>
    </div>
</div>

<!-- PINNED AIRPORT TO SAVED LOCATION -->
<div th:fragment="pinned-airport"
     th:if="${airport}"
     th:id="'pinned-'+${airport.iata}+'-location-'+${location.id}"
     class="d-flex input-group justify-content-center mb-2"
>
    <button class="col col-lg-8 btn btn-outline-primary text-truncate input-group-text"
            th:onclick="'addAirportToMapFromCode(' + ${airport.iata} + ')'"
    >
        <strong th:text="${airport.iata}"></strong>
        <i th:text="' ' + ${airport.name} + ' '"></i>
        <span th:text="' | ' + ${airport.city} + ', ' + ${airport.subdivision} + ' of ' + ${airport.countryCode}"></span>
    </button>
    <button class="col-3 col-lg-1 btn-sm btn btn-secondary"
            hx-get="/unpin-airport-location"
            th:hx-vals="'{&quot;locationId&quot;:'+${location.id}+'}'"
            th:hx-target="'#pinned-'+${airport.iata}+'-location-'+${location.id}"
            hx-swap="outerHTML transition:true"
            hx-on::after-request="console.log('enable/add unpinned airport from datalist')"
            name="airportCode"
            th:value="${airport.iata}">Unpin
    </button>
</div>

<select th:fragment="select-airport-filter"
        class="form-select"
        name="airportFilter"
        style="max-width:150px"
        hx-get="/nearby-airports"
        th:hx-vals="'{&quot;latitude&quot;:'+${locationDetail.location.latitude}+',&quot;longitude&quot;:'+${locationDetail.location.longitude}+'}'"
        th:hx-on::after-request="'setAirportPlaceHolderFromList(\'airport-code-' + ${locationDetail.location.id} + '\',\'filtered-list-' + ${locationDetail.location.id} + '\')'"
        th:hx-on::before-request="'clearAirportMarkerFitToElemId(airportMarker,\'location-display-'+${locationDetail.location.id}+'\')'"
        th:hx-target="'#filtered-list-'+${locationDetail.location.id}"
        hx-trigger="load,change"
        hx-swap="innerHTML">
    <option selected value="DELTA">Delta Airports</option>
    <hr class="dropdown-divider">
    <option value="ALL">All Civil</option>
    <option value="MILITARY">Military</option>
</select>

</html>

