<html lang="en"
      xmlns:th="http://www.thymeleaf.org" xmlns:hx-on="http://www.w3.org/1999/xhtml">
<!--TRIPS MAIN PAGE-->
<div th:fragment="trips" class="container">
    <div id="scrollable-content"
         data-bs-spy="scroll"
         data-bs-target="#trips-scroll-nav"
         data-bs-smooth-scroll="true"
         class="scrollspy-example overflow-y-scroll"
         style="height:250px;"
         tabindex="0">
        <h4 id="from-city">From</h4>
        <div style="height:250px"
             class="overflow-auto p-2">
            <div class="form-check form-check-inline">
                <input class="form-check-input"
                       type="radio"
                       id="select-location-filter"
                       hx-get="/from-selection"
                       hx-swap="innerHTML transition:true"
                       hx-target="#select-start"
                       hx-trigger="change"
                       name="tripFilter"
                       hx-on::after-request="resetTripMap(true)"
                       th:attr="checked=${selection == 'LOCATION'}?'checked'"
                       value="LOCATION">
                <label class="form-check-label" for="select-location-filter">By Location</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input"
                       type="radio"
                       id="select-airport-filter"
                       hx-get="/from-selection"
                       hx-swap="innerHTML transition:true"
                       hx-target="#select-start"
                       hx-trigger="change"
                       name="tripFilter"
                       th:attr="checked=${selection == 'AIRPORT'}?'checked'"
                       hx-on::after-request="resetTripMap(true)"
                       value="AIRPORT">
                <label class="form-check-label" for="select-airport-filter">By Airport</label>
            </div>
            <div id="select-start" class="mt-4 d-grid">
                <div th:replace="~{fragments/routes :: selected-start-locations(selection=${selection},filterList=${filterList},optionList=${optionList})}"></div>
            </div>
        </div>
    </div>
</div>
<!--Select Start Filter and Options-->
<div th:fragment="selected-start-locations(selection,filterList,optionList)"
    class="input-group row" style="margin-left:.0em;">
    <select class="form-select" style="max-width:170px">
        <option th:each="filter,iter : ${filterList}" th:value="${filter.value}" th:text="${filter.display}"></option>
    </select>
    <datalist th:if="${selection == 'AIRPORT'}" id="select-start-options">
        <option th:each="option,iter : ${optionList}" th:value="${option.value}" th:text="${option.display}"></option>
    </datalist>
    <input th:if="${selection == 'AIRPORT'}" class="form-control"
           placeholder="Enter Airport" list="select-start-options"
           oninput="debouncedAddAirportToMap(this,true)">
    <select th:if="${selection == 'LOCATION'}" class="form-control"
            onchange="addTripLocationToMapNew(this.options[this.selectedIndex].dataset.elementName,true)">
        <option disabled selected>Select Start</option>
        <option th:each="option,iter : ${optionList}" th:data-element-name="${option.elementName}" th:value="${option.value}" th:text="${option.display}"></option>
    </select>
</div>
</html>