<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:hx-on="http://www.w3.org/1999/xhtml">

<!--SAVED NAV BAR WITH AUTOSCROLL-->
<div th:fragment="saved-scroll-nav(countryList)"
     id="trips-scroll-nav"
     class="d-flex flex-column simple-list-example-scrollspy">
  <a th:each="country,countryIter : ${countryList}"
     class="p-1 rounded"
     th:href="'#country-locations-' + ${country.code}"
     th:data-country-bounds="${#strings.arrayJoin(
        #numbers.arrayFormatDecimal(country.bounds, 1, 'POINT', 5, 'POINT'),',')}"
     onclick="mapToCountry(this)">
    <span th:text="${country.name}"></span>
  </a>
</div>

<!--SAVED ACCORDION Continents-->
<div th:fragment="saved-continent-list(continentList,continentCountryList)"
     class="accordion list-group"
     id="continent-list">
  <div th:each="continent,iter : ${continentList}"
          class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button list-group-item" type="button"
              data-bs-toggle="collapse"
              th:href="'#continent-locations-'+${continent.name}"
              onclick="recenterMap();scrollElemToHref(this);"
              th:data-bs-target="'#continent-display-'+${continent.name}"
              th:text="${continent.displayText}"
              th:disabled="${#lists.isEmpty(continentCountryList[iter.index])}"
              aria-controls="collapseOne"></button>
    </h2>
    <div th:id="'continent-display-'+${continent.name}"
         class="accordion-collapse collapse"
         data-bs-parent="#continent-list">
      <div class="accordion-body p-sm-3 p-1">
        <nav th:replace="~{fragments/saved :: saved-scroll-nav(countryList=${continentCountryList[iter.index]})}"></nav>
      </div>
    </div>
  </div>
</div>

<!--MAIN SAVED PAGE-->
<div th:fragment="main-saved-page"
     th:id="main-saved-page" class="row">
  <div class="col-4">
    <div th:replace="~{fragments/saved :: saved-continent-list(continentList=${continentList},continentCountryList=${continentCountryList},continentCountryLocationsList=${continentCountryLocationsList})}"></div>
  </div>
  <div class="col-8">
    <div id="scrollable-content"
         data-bs-spy="scroll"
         data-bs-target="#navbar-example3"
         data-bs-smooth-scroll="true"
         class="scrollspy-example-2 overflow-y-scroll"
         style="height:850px;"
         tabindex="0">
      <div th:each="continent,iter : ${continentList}"
           th:id="'continent-locations-'+${continent.name}">
        <div th:each="country,countryIter : ${continentCountryList[iter.index]}"
             class="card mb-2"
             th:id="'country-locations-'+${country.code}">
          <div class="card-body"
               th:with="countryLocationsList=${continentCountryLocationsList[iter.index][countryIter.index]}">
            <h3 class="card-title" th:text="${country.name}"></h3>
            <div th:with="billions=${country.population/1000000000.0},millions=${country.population/1000000.0}">Population:
              <span th:if="${billions.intValue() > 0}" th:text="${#numbers.formatDecimal(billions,1,2,'POINT') + 'B'}"></span>
              <span th:if="${billions.intValue() == 0 and millions.intValue() > 0}" th:text="${#numbers.formatDecimal(millions,1,2,'POINT') + 'M'}"></span>
              <span th:if="${billions.intValue() == 0 and millions.intValue() == 0}" th:text="${#numbers.formatInteger(country.population,1,'COMMA')}"></span>
              <br>Area(km^2): <span th:text="${#numbers.formatInteger(country.areaInSqKm,0,'COMMA')}"></span>
              <br>Currency: <span th:text="${country.currencyCode}"></span>
              <br>Capital: <span th:text="${country.capitalCity}"></span>
              <br>Languages: <span th:text="${#strings.listJoin(country.languages, ', ')}"></span>
            </div>
            <div class="list-group mt-2">
              <div class="list-group-item"
                   th:each="location,locationIter : ${countryLocationsList}">
                <div class="row d-block d-md-flex g-2 g-md-0 align-items-center justify-content-center justify-content-sm-between">
                  <div class="col-auto text-center">
                    <span th:text="${location.name}+', '+${location.subdivision}"></span>
                  </div>
                  <div class="col-auto">
                    <div class="row m-2 m-md-0 d-flex gap-2 justify-content-evenly">
                      <div th:replace="~{fragments/saved :: status-update-button(locationFilter=${locationFilter},locationId=${location.id},locationStatusName=${location.status.name})}"></div>
                      <button class="btn btn-outline-danger col"
                              hx-get="/location-status"
                              hx-include="#includeArchived"
                              hx-swap="outerHTML transition:true"
                              name="status"
                              value="DELETE"
                              th:hx-vals="'{&quot;locationId&quot;:'+${location.id}+'}'">Remove</button>
                    </div>
                  </div>
                </div>
                </div>
            </div>
          </div>
        </div>
      </div>
      <div id="buffer"
           style="height:800px"></div>
    </div>
  </div>
</div>

<!--ARCHIVE/UNARCHIVE button-->
<button th:fragment="status-update-button(locationFilter,locationId,locationStatusName)"
        class="btn btn-outline-primary col"
        hx-get="/location-status"
        hx-include="#includeArchived"
        hx-swap="outerHTML transition:true"
        name="status"
        th:value="${locationStatusName == 'SAVED'?'ARCHIVED':'SAVED'}"
        th:hx-vals="'{&quot;locationId&quot;:'+${locationId}+'}'"
        th:text="${locationStatusName == 'SAVED'}?'Archive':'Unarchive'"></button>

<!--swapped in ARCHIVED button-->
<button th:fragment="update-location-status-success(locationStatusName,includeArchived,locationId)"
        th:class="${locationStatusName == 'DELETE'}?'btn btn-outline-danger col':'btn btn-outline-primary col'"
        th:name="${locationStatusName != 'DELETE'}?'status'"
        th:value="${locationStatusName != 'DELETE'}?${locationStatusName}"
        th:hx-include="${locationStatusName != 'DELETE'}?'#includeArchived'"
        th:hx-swap="${locationStatusName != 'DELETE'}?'outerHTML transition:true'"
        th:hx-trigger="${locationStatusName != 'DELETE'}?'load delay:1s'"
        th:hx-vals="${locationStatusName != 'DELETE'}?'{&quot;locationId&quot;:'+${locationId}+'}'"
        th:hx-get="${includeArchived and (locationStatusName != 'DELETE')}?'/status-button':''"
        th:hx-on::after-settle="${includeArchived and (locationStatusName != 'DELETE')}?'':'debouncedRemoveClosestClassFrom(this,\'.list-group-item\')'"
        disabled>
  <th th:switch="${locationStatusName}">
    <span th:case="'SAVED'">Unarchived</span>
    <span th:case="'ARCHIVED'">Archived</span>
    <span th:case="'DELETE'">Removed</span>
  </th>
</button>

<!--LIST OF SAVED LOCATIONS loaded on SAVED TAB-->
<!--<div th:fragment="saved-locations"-->
<!--     id="savedLocations"-->
<!--     class="accordion list-group">-->
<!--  <form class="form-check form-switch mb-2 mt-3"-->
<!--        th:id="location-filter"-->
<!--        th:object="${locationFilter}">-->
<!--    <input hx-get="/saved-locations"-->
<!--           hx-target="#saved-locations-container"-->
<!--           hx-swap="outerHTML transition:true"-->
<!--           hx-trigger="change"-->
<!--           hx-include="[name='includeArchived']"-->
<!--           hx-on::after-request="switchEngage(this)"-->
<!--           class="form-check-input"-->
<!--           type="checkbox"-->
<!--           role="switch"-->
<!--           id="includeArchived"-->
<!--           name="includeArchived"-->
<!--           th:field="*{includeArchived}"-->
<!--           th:checked="${locationFilter.includeArchived}"-->
<!--    >-->
<!--    <label class="form-check-label" for="includeArchived">Include Archived</label>-->
<!--  </form>-->
<!--  <div id="saved-locations-container">-->
<!--    <div th:unless="${locationDetailsList.size > 0}"-->
<!--         class="list-group-item list-group-item-secondary">No saved locations. 'Browse' to add locations.</div>-->
<!--    <div th:each="locationDetail,iter : ${locationDetailsList}"-->
<!--         class="accordion item">-->
<!--      <button id="location-display-"-->
<!--              class="accordion-button list-group-item list-group-item-action list-group-item-light collapsed"-->
<!--              type="button"-->
<!--              aria-controls="collapse-location-"-->
<!--              data-bs-toggle="collapse"-->
<!--              data-bs-target="#collapse-location-"-->
<!--              aria-expanded="false"-->
<!--              th:text="${locationDetail.location.name} + ', ' + ${locationDetail.location.subdivision} + ' | ' + ${locationDetail.location.countryCode}"-->
<!--              th:onclick="zoomToLocationMap([[${locationDetail.location.name}]],[[${locationDetail.location.id}]],this)"-->
<!--              th:attrappend="data-bs-target=${iter.index},aria-controls=${iter.index},id=${iter.index}"></button>-->
<!--      <div-->
<!--              id="collapse-location-"-->
<!--              class="accordion-collapse collapse"-->
<!--              data-bs-parent="#savedLocations"-->
<!--              th:attrappend="id=${iter.index}">-->
<!--        <div class="accordion-body">-->
<!--          <p th:text="${locationDetail.location.name} +' is a locality of '-->
<!--                + ${locationDetail.location.subdivision} + ' in '-->
<!--                + ${locationDetail.location.countryCode} + '.'">-->
<!--          </p>-->
<!--          <div id="airports-container-"-->
<!--               class="container mb-2"-->
<!--               th:attrappend="id=${iter.index}">-->
<!--            <div th:replace="~{fragments/pinned :: pin-airport-form-initial(locationDetail=${locationDetail})}"></div>-->
<!--            <form th:replace="~{fragments/form :: archive-location-display}"></form>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
</html>