<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:hx-on="http://www.w3.org/1999/xhtml">

<!--SAVED NAV BAR WITH AUTOSCROLL-->
<div th:fragment="saved-scroll-nav(countryList)"
     id="trips-scroll-nav"
     class="d-flex flex-column simple-list-example-scrollspy">
  <a th:each="country,countryIter : ${countryList}"
     class="p-1 rounded"
     th:href="'#country-locations-' + ${country.code}"
     th:data-country-bounds="${#strings.arrayJoin(
        #numbers.arrayFormatDecimal(country.bounds, 1, 'POINT', 5, 'POINT'),',')}"
     onclick="mapToCountry(this)">
    <span th:text="${country.name}"></span>
  </a>
</div>

<!--SAVED ACCORDION Continents-->
<div th:fragment="saved-continent-list(continentList,continentCountryList)"
     class="accordion list-group overflow-auto"
     style="height:350px"
     id="continent-list">
  <div th:each="continent,iter : ${continentList}"
          class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button list-group-item p-2" type="button"
              data-bs-toggle="collapse"
              th:href="'#continent-locations-'+${continent.name}"
              onclick="clearMarkers();recenterMap();scrollElemToHref(this);"
              th:data-bs-target="'#continent-display-'+${continent.name}"
              th:text="${continent.displayText}"
              th:disabled="${#lists.isEmpty(continentCountryList[iter.index])}"
              aria-controls="collapseOne"></button>
    </h2>
    <div th:id="'continent-display-'+${continent.name}"
         class="accordion-collapse collapse"
         data-bs-parent="#continent-list">
      <div class="accordion-body p-sm-3 p-1">
        <nav th:replace="~{fragments/saved :: saved-scroll-nav(countryList=${continentCountryList[iter.index]})}"></nav>
      </div>
    </div>
  </div>
</div>

<!--MAIN SAVED PAGE-->
<div th:fragment="main-saved-page"
     id="main-saved-page" class="row justify-content-center">
  <div class="col-4 col-lg-2">
    <div th:replace="~{fragments/saved :: saved-continent-list(continentList=${continentList},continentCountryList=${continentCountryList},continentCountryLocationsList=${continentCountryLocationsList})}"></div>
  </div>
  <div class="col-7">
    <div id="scrollable-content"
         data-bs-spy="scroll"
         data-bs-target="#navbar-example3"
         data-bs-smooth-scroll="true"
         class="scrollspy-example-2 overflow-y-scroll"
         style="height:auto;max-height:350px;"
         tabindex="0">
      <div th:each="continent,iter : ${continentList}"
           th:id="'continent-locations-'+${continent.name}">
        <div th:each="country,countryIter : ${continentCountryList[iter.index]}"
             class="card mb-2"
             th:id="'country-locations-'+${country.code}">
          <div class="card-body"
               th:with="countryLocationsList=${continentCountryLocationsList[iter.index][countryIter.index]}">
            <h3 class="card-title" th:text="${country.name}"></h3>
            <div th:with="billions=${country.population/1000000000.0},millions=${country.population/1000000.0}">Population:
              <span th:if="${billions.intValue() > 0}" th:text="${#numbers.formatDecimal(billions,1,2,'POINT') + 'B'}"></span>
              <span th:if="${billions.intValue() == 0 and millions.intValue() > 0}" th:text="${#numbers.formatDecimal(millions,1,2,'POINT') + 'M'}"></span>
              <span th:if="${billions.intValue() == 0 and millions.intValue() == 0}" th:text="${#numbers.formatInteger(country.population,1,'COMMA')}"></span>
              <br>Area(km^2): <span th:text="${#numbers.formatInteger(country.areaInSqKm,0,'COMMA')}"></span>
              <br>Currency: <span th:text="${country.currencyCode}"></span>
              <br>Capital: <span th:text="${country.capitalCity}"></span>
              <br>Languages: <span th:text="${#strings.listJoin(country.languages, ', ')}"></span>
            </div>
            <div class="list-group mt-2">
              <div class="list-group-item btn-airport-code"
                   th:each="location,locationIter : ${countryLocationsList}"
                   th:data-lat="${location.latitude}" th:data-lng="${location.longitude}"
                   th:data-country-bounds="${#strings.arrayJoin(#numbers.arrayFormatDecimal(location.bbox, 1, 'POINT', 5, 'POINT'),',')}"
                   onclick="mapToLocation(this);">
                <div class="row d-block d-md-flex g-2 g-md-0 align-items-center justify-content-center justify-content-sm-between">
                  <div class="col-auto col-md-4 col-lg-5 text-center text-md-start">
                    <a href=""
                       onclick="event.stopPropagation()">
                      <span th:text="${location.name}+', '+${location.subdivision}"></span>
                    </a>
                  </div>
                  <div class="m-2 col-auto">
                    <div class="row d-flex gap-2 justify-content-evenly">
                      <div th:replace="~{fragments/saved :: trip-to-button(locationId=${location.id})}"></div>
                      <div th:replace="~{fragments/saved :: status-update-button(locationId=${location.id},locationStatusName=${location.status.name})}"></div>
                      <div th:replace="~{fragments/saved :: status-update-button(locationId=${location.id},locationStatusName='DELETE')}"></div>
                    </div>
                  </div>
                </div>
                </div>
            </div>
          </div>
        </div>
      </div>
      <div id="buffer"
           style="height:800px"></div>
    </div>
  </div>
</div>

<!--ARCHIVE/UNARCHIVE button-->
<button th:fragment="status-update-button(locationId,locationStatusName)"
        th:class="${locationStatusName == 'DELETE'?'btn btn-outline-danger col':(locationStatusName == 'SAVED')?'btn btn-outline-primary col':'btn btn-primary col'}"
        hx-get="/location-status"
        hx-include="#includeArchived"
        hx-swap="outerHTML transition:true"
        th:hx-on::after-request="'updateTabHxValsLocationDelete(\'trips-tab-link\',' + ${locationId} + ')'"
        name="status"
        onclick="event.stopPropagation()"
        th:value="${locationStatusName == 'SAVED'?'ARCHIVED':(locationStatusName == 'ARCHIVED')?'SAVED':'DELETE'}"
        th:hx-vals="'{&quot;locationId&quot;:'+${locationId}+'}'">
  <th th:switch="${locationStatusName}">
    <svg th:case="'DELETE'"
         width="23" height="25"
         transform="scale(1,.82) translate(0,-1)"
         viewBox="0 0 13 13">
      <path d="M 4.135 1.821 C 4.126 0.393 4.609 0.188 6.558 0.209 C 8.399 0.137 8.874 0.32 8.873 1.824 L 11.369 1.831 C 12.28 1.797 12.048 2.682 11.529 2.682 L 11.083 2.676 L 10.544 11.78 C 10.459 12.669 9.673 12.976 9.17 12.98 L 3.797 12.961 C 3.32 12.943 2.568 12.765 2.44 11.66 L 1.924 2.682 L 1.376 2.666 C 1.069 2.663 0.763 2.006 1.366 1.829 Z M 8.026 1.832 C 8.058 1.123 7.956 1.052 7.348 1.065 L 5.66 1.059 C 5.046 1.059 4.982 1.11 4.988 1.826 Z M 10.23 2.673 L 2.77 2.668 L 3.298 11.655 C 3.345 12.02 3.449 12.078 3.696 12.104 L 9.214 12.119 C 9.552 12.118 9.671 11.962 9.703 11.704 Z M 7.961 10.354 C 7.939 10.938 8.755 11.007 8.811 10.414 L 9.165 4.454 C 9.182 3.886 8.374 3.826 8.31 4.41 Z M 6.074 10.43 C 6.094 10.923 6.867 10.982 6.908 10.451 L 6.925 4.406 C 6.895 3.847 6.086 3.869 6.074 4.394 Z M 4.189 10.44 C 4.238 11.004 5.08 10.918 5.041 10.392 L 4.684 4.38 C 4.64 3.866 3.832 3.886 3.844 4.448 Z" />
    </svg>
    <svg th:case="*"
         width="23" height="23"
         viewBox="1 0 12 12">
      <path d="M 1.063 2.065 C 1.111 0.689 2.053 0.303 2.505 0.305 L 4.953 0.294 C 5.39 0.296 5.671 0.353 6.111 0.721 L 6.794 1.392 L 10.332 1.401 C 11.509 1.415 11.986 1.844 12.055 2.956 L 12.076 8.317 C 12.066 9.236 11.767 9.995 10.553 10.202 L 2.938 10.229 C 1.562 10.137 1.148 9.563 1.064 8.44 Z Z M 2.014 2.325 L 1.999 8.444 C 2.032 8.966 2.329 9.301 2.87 9.327 L 10.348 9.344 C 10.772 9.332 11.17 9.057 11.168 8.38 L 11.151 3.054 C 11.13 2.436 11.067 2.405 10.444 2.385 Z Z M 6.092 7.001 L 5.016 6.157 C 4.701 5.966 4.329 6.408 4.674 6.745 L 6.111 7.932 C 6.519 8.276 6.525 8.276 6.908 7.932 L 8.345 6.76 C 8.818 6.324 8.307 5.881 8.001 6.126 L 6.909 7.001 L 6.916 4.082 C 6.859 3.451 6.127 3.477 6.095 4.061 Z Z Z"/>
    </svg>
  </th>
</button>

<!--FLY TO button -->
<button th:fragment="trip-to-button(locationId)"
        class="btn btn-outline-primary col"
        th:onclick="'event.stopPropagation();tripToEndLocation(\'trips-tab-link\','+${locationId}+')'">
  <svg viewBox="5 -15 190 160"
       width="23" transform="scale(.9,1.1)">
    <path d="M 26.42 13.21 L 38.65 7.66 L 110.52 28.87 L 158.27 6.96 C 164.84 4.67 186.45 -2.11 192.97 10.01 C 194.87 14.18 193.26 18.93 186.39 22.8 L 52.47 85.49 C 39.97 89.4 42.52 87.93 6.01 60.29 C 2.17 54.94 7.18 52.68 14.04 54.83 L 43.79 60.43 L 71.29 47.17 Z m 80.75 54.44 C 100.16 74.8 110.53 83.24 116.22 77.39 C 122.98 69.92 112.32 63 107.18 67.61 Z m -18.18 8.47 C 82.49 81.72 89.88 91.35 96.67 86.69 C 103.91 80.28 95.59 71.72 88.99 76.08 Z m -77.53 39.34 C 5.03 117.72 7.11 125.82 13.64 125.61 L 111.19 125.57 C 119.14 124.6 117.05 115.78 112.13 115.4 Z"></path>
  </svg>
</button>

<!--swapped in ARCHIVED button-->
<button th:fragment="update-location-status-success(locationStatusName,includeArchived,locationId)"
        th:class="${locationStatusName == 'DELETE'?'btn btn-outline-danger col':'btn btn-outline-primary col'}"
        th:name="${locationStatusName != 'DELETE'}?'status'"
        th:value="${locationStatusName != 'DELETE'}?${locationStatusName}"
        th:hx-include="${locationStatusName != 'DELETE'}?'#includeArchived'"
        th:hx-swap="${locationStatusName != 'DELETE'}?'outerHTML transition:true'"
        th:hx-trigger="${locationStatusName != 'DELETE'}?'load delay:1s'"
        th:hx-vals="${locationStatusName != 'DELETE'}?'{&quot;locationId&quot;:'+${locationId}+'}'"
        th:hx-get="${includeArchived and (locationStatusName != 'DELETE')}?'/status-button':''"
        th:hx-on::after-settle="${includeArchived and (locationStatusName != 'DELETE')}?'':'debouncedRemoveClosestClassFrom(this,\'.list-group-item\');clearMarkers();recenterMap();'"
        disabled>
  <th th:switch="${locationStatusName}">
    <span th:case="'SAVED'">Unarchived</span>
    <span th:case="'ARCHIVED'">Archived</span>
    <span th:case="'DELETE'">Removed</span>
  </th>
</button>

</html>