<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div
        class="modal-body"
        id="searchResultsContainer"
        th:fragment="searchresults">
  <div th:if="${lookupResults} != null and not ${lookupResults.empty}">
    <div
            class="accordion list-group"
            id="accordionExample">
      <div class="accordion item" th:each="resultSearch,iter : ${lookupResults}">
        <button
                id="searchResultButtonHeader-"
                class="accordion-button list-group-item list-group-item-action list-group-item-light"
                th:classappend="${iter.index == 0}? null : collapsed"
                type="button"
                th:text="${resultSearch.name} + ', ' + ${resultSearch.adminName} + ' | ' + ${resultSearch.countryName}"
                data-bs-toggle="collapse"
                data-bs-target="#collapse-"
                th:attr="aria-expanded=${iter.index == 0}?true:false,data-south=${resultSearch.southBound},data-west=${resultSearch.westBound},data-north=${resultSearch.northBound},data-east=${resultSearch.eastBound},data-lng=${resultSearch.longitude},data-lat=${resultSearch.latitude}";
                th:onclick="updateLookupMap([[${iter.index}]],[[${resultSearch.longitude}]],[[${resultSearch.latitude}]],[[${resultSearch.westBound}]],[[${resultSearch.southBound}]],[[${resultSearch.eastBound}]],[[${resultSearch.northBound}]])"
                th:attrappend="data-bs-target=${iter.index},aria-controls=${iter.index},id=${iter.index}"
                aria-controls="collapse-"></button>
        <div
                id="collapse-"
                th:attrappend="id=${iter.index}"
                class="accordion-collapse collapse"
                th:classappend="${iter.index == 0}? show : null"
                data-bs-parent="#accordionExample">
          <div class="accordion-body">
              <p
                      th:text="${resultSearch.name} +' is a '
                        + ${resultSearch.type} + ' of '
                        + ${resultSearch.adminName} + ' in '
                        + ${resultSearch.countryName} + '.'">
              </p>
              <input class="form-control me-2"  type="text" placeholder="Select Nearby Airport" aria-label="Airport" name="airportCode" id="airportCode" list="IATA_CODE_LIST" value="">
              <datalist id="IATA_CODE_LIST">
              </datalist>
              <button class="btn btn-primary" type="button">Add</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="list-group" th:unless="${lookupResults} != null and not ${lookupResults.empty}">
    <div class="accordion list-group" id="accordionExample">
      <div class="accordion item">
        <div class="list-group-item list-group-item-secondary">No results found.</div>
      </div>
    </div>
  </div>
</div>

<div
        th:fragment="lookupFooterResults"
        id="lookupFooter"
        class=""
        th:classappend="${totalResultsCount}?modal-footer"
        hx-swap-oob="outerHTML:#lookupFooter">
    <div
            th:if="${totalResultsCount} and ${totalResultsCount} > 0"
            th:text="${totalResultsCount} > 10? 'Displaying 10 of ' + ${totalResultsCount}+ ' total results' : 'Displaying ' + ${totalResultsCount} + ' of ' + ${totalResultsCount}+ ' total results'">
    </div>
    <div
            th:if="${totalResultsCount} and ${totalResultsCount} > 0"
            class="btn-group"
            role="group"
            aria-label="Basic outlined example">
        <button
                type="button"
                class="btn btn-outline-primary disabled">Prev</button>
        <button
                type="button"
                class="btn btn-outline-primary"
                th:classappend="${totalResultsCount<11}?disabled">Next</button>
    </div>
</div>

<div>

</div>
</html>