<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org" xmlns:hx-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Tab Content</title>
</head>
<ul th:fragment="tab-list(defaultPage)"
    id="tabList"
    class="nav nav-underline align-items-center">
    <li class="nav-item">
        <a class="nav-link tab-btn"
           th:classappend="${#strings.equalsIgnoreCase(defaultPage, 'TRIPS')} ? 'active' : ''"
           id="trips-tab-link"
           hx-get="/trips"
           hx-target="#tabContent"
           hx-on::before-request="activate(this)"
           hx-on::after-request="reloadTrips('scrollable-content');dispatchInput();"
           hx-swap="innerHTML">
            Fly To
        </a>
    </li>
    <li class="nav-item m-2 row align-items-center">
        <button class="btn btn-primary btn-sm"
                id="toggle-map-button"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapse-map-div"
                aria-expanded="false"
                onclick="toggleMap(this)"
                aria-controls="collapse-map-div">Hide Map</button>
    </li>
</ul>
<div th:fragment="trips-tab">
    <div th:replace="~{fragments/trips :: trips(startOptionList=${startOptionList},startInputText=${startInputText},startInputValue=${startInputValue},endOptionList=${endOptionList},endInputText=${endInputText},endInputValue=${endInputValue})}"></div>
</div>
</html>