<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org" xmlns:hx-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Tab Content</title>
</head>
<ul th:fragment="tab-list(defaultPage)"
    id="tabList"
    class="nav nav-underline">
    <li class="nav-item">
        <a class="nav-link tab-btn"
           th:classappend="${#strings.equalsIgnoreCase(defaultPage, 'TRIPS')} ? 'active' : ''"
           id="trips-tab-link"
           hx-get="/trips"
           hx-target="#tabContent"
           hx-on::before-request="activate(this)"
           hx-on::after-request="reloadTrips('scrollable-content')"
           hx-swap="innerHTML">
            Trips
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link tab-btn"
           th:classappend="${#strings.equalsIgnoreCase(defaultPage, 'SAVED')} ? 'active' : ''"
           id="saved-tab-link"
                hx-get="/saved"
                hx-target="#tabContent"
                hx-on::before-request="activate(this)"
                hx-on::after-request="recenterMap()"
                hx-swap="innerHTML">
            Saved
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link tab-btn"
           th:classappend="${#strings.equalsIgnoreCase(defaultPage, 'BROWSE')} ? 'active' : ''"
           id="add-tab-link"
                hx-get="/add"
                hx-target="#tabContent"
                hx-on::before-request="activate(this)"
                hx-on::after-request="recenterMap()"
                hx-swap="innerHTML">
            Browse
        </a>
    </li>
</ul>
<div th:fragment="saved-tab" class="container mt-2">
    <form class="form-check form-switch mb-4 mt-2"
          th:object="${locationFilter}">
        <label class="form-check-label" for="includeArchived">Include Archived</label>
        <input hx-get="/saved-locations"
               hx-target="#main-saved-page"
               hx-swap="outerHTML transition:true"
               hx-trigger="change"
               hx-include="[name='includeArchived']"
               class="form-check-input"
               type="checkbox"
               role="switch"
               id="includeArchived"
               name="includeArchived"
               th:field="*{includeArchived}"
               th:checked="${locationFilter.includeArchived}">
    </form>
    <div th:replace="~{fragments/saved :: main-saved-page}"></div>
    <div th:replace="~{fragments/saved :: saved-locations}"></div>
</div>
<div th:fragment="add-tab">
    <div th:replace="~{fragments/search :: lookupContainer}"></div>
</div>
<div th:fragment="trips-tab" class="container mt-2">
    <div th:replace="~{fragments/trips :: trips}"></div>
</div>
</html>