<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org" xmlns:hx-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Tab Content</title>
</head>
<ul th:fragment="tab-list"
    id="tabList"
    class="nav nav-underline">
    <li class="nav-item">
        <a class="nav-link tab-btn active"
           id="trips-tab-link"
           hx-get="/trips"
           hx-target="#tabContent"
           hx-on::before-request="activate(this)"
           hx-on::after-request="reloadTrips('scrollable-content')"
           hx-swap="innerHTML">
            Flights
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link tab-btn"
                id="saved-tab-link"
                hx-get="/saved"
                hx-target="#tabContent"
                hx-on::before-request="activate(this)"
                hx-on::after-request="mapToFirst('location-display-0',false)"
                hx-swap="innerHTML">
            Saved
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link tab-btn"
                id="add-tab-link"
                hx-get="/add"
                hx-target="#tabContent"
                hx-on::before-request="activate(this)"
                hx-on::after-request="recenterMap()"
                hx-swap="innerHTML">
            Browse
        </a>
    </li>
</ul>
<div th:fragment="saved-tab" class="container mt-2">
    <div th:if="${locationDetailsList != null && locationDetailsList.size > 0}"
         th:replace="~{fragments/locations :: saved-locations}"></div>
    <div th:unless="${locationDetailsList != null && locationDetailsList.size > 0}"
         class="list-group-item list-group-item-secondary">No saved locations. 'Browse' to add locations.</div>
</div>
<div th:fragment="add-tab">
    <div th:replace="~{fragments/search :: lookupContainer}"></div>
</div>
<div th:fragment="trips-tab" class="container m-2">
    <div th:replace="~{fragments/routes :: trips}"></div>
</div>
</html>