<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="townlist"
     th:if="${towns} != null and not ${towns.empty}">
    <ul>
        <li th:each="townDisplay : ${towns}" th:text="${townDisplay.name}+', '+${townDisplay.country}+', '+${townDisplay.regionName}">
            <button type="button" class="btn btn-outline-success">Add</button>
        </li>
    </ul>
</div>
<div th:fragment="locationList"
     th:if="${locations} != null and not ${locations.empty}">
    <ul>
        <li th:each="location : ${locations}" th:text="${location.name}+', '+${location.subdivision}+', '+${location.countryCode}">
            <button type="button" class="btn btn-outline-success">Add</button>
        </li>
    </ul>
</div>
</html>