<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org" xmlns:hx-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Trip Content</title>
</head>
<datalist id="" th:fragment="saved-locations">
    <option th:each="locationDisplay, iter : ${locations}"
            th:value="${locationDisplay.name}+', ' + ${locationDisplay.subdivision}"
            th:data-longitude="${locationDisplay.longitude}"
            th:data-latitude="${locationDisplay.latitude}"
            th:data-source="${locationDisplay.source}"
            th:data-source-id="${locationDisplay.sourceId}"
            th:data-country="${locationDisplay.countryCode}"
            th:data-bounds-west="${locationDisplay.bbox[0]}"
            th:data-bounds-south="${locationDisplay.bbox[1]}"
            th:data-bounds-east="${locationDisplay.bbox[2]}"
            th:data-bounds-north="${locationDisplay.bbox[3]}"
            th:name="${locationDisplay.name}+', ' + ${locationDisplay.subdivision}"
            th:text="'A locality in ' + ${locationDisplay.countryCode}"></option>
</datalist>
<datalist id="" th:fragment="lookup-results">
    <option th:each="resultSearch, iter : ${lookupResults}"
            th:value="${resultSearch.name}+', ' + ${resultSearch.subdivision}"
            th:data-longitude="${resultSearch.longitude}"
            th:data-latitude="${resultSearch.latitude}"
            th:data-source="${resultSearch.source}"
            th:data-source-id="${resultSearch.sourceId}"
            th:data-country="${resultSearch.countryCode}"
            th:data-bounds-west="${resultSearch.bounds[0]}"
            th:data-bounds-south="${resultSearch.bounds[1]}"
            th:data-bounds-east="${resultSearch.bounds[2]}"
            th:data-bounds-north="${resultSearch.bounds[3]}"
            th:name="${resultSearch.name}+', ' + ${resultSearch.subdivision}"
            th:text="'A ' +  ${resultSearch.type} + ' in ' + ${resultSearch.countryName}"></option>
</datalist>
<div th:fragment="trips" class="container">
    <div class="row justify-content-end">
        <div class="col-2">
            <div id="trips-scroll-nav" style="width:80px" class="list-group">
                <a class="list-group-item list-group-item-action" href="#from-city" onclick="zoomToTripLocation(true)">From</a>
                <a class="list-group-item list-group-item-action" href="#to-city" onclick="zoomToTripLocation(false)">To</a>
                <a class="list-group-item list-group-item-action" href="#review" onclick="mapFitToTrip()">Review</a>
            </div>
        </div>
        <div class="col-10">
            <div id="scrollable-content"
                    data-bs-spy="scroll"
                    data-bs-target="#trips-scroll-nav"
                    data-bs-smooth-scroll="true"
                    class="scrollspy-example overflow-y-scroll p-2"
                    style="height:250px;"
                    tabindex="0">
                <h4 id="from-city">From</h4>
                <div hx-get="/lookup" hx-swap="outerHTML" hx-trigger="load" hx-vals='"isStart":"true"'></div>
                <div id="from-result-container"
                     style="height:250px" class="overflow-auto">
                </div>
                <h4 id="to-city">To</h4>
                <div hx-get="/lookup" hx-swap="outerHTML" hx-trigger="load" hx-vals='"isStart":"false"'></div>
                <div id="from-result-container"
                     style="height:250px" class="overflow-auto">
                </div>
                <h4 id="review">Review</h4>
                <div id="from-result-container"
                     style="height:250px" class="overflow-auto">
                </div>
            </div>
        </div>
    </div>
</div>
</html>